[submodule "vim/vim.symlink/bundle/wincent-command-t"]
	path = vim/vim.symlink/bundle/wincent-command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/vim.symlink/bundle/tpope-vim-markdown"]
	path = vim/vim.symlink/bundle/tpope-vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/vim.symlink/bundle/scrooloose-nerdtree"]
	path = vim/vim.symlink/bundle/scrooloose-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/jistr-vim-nerdtree-tabs"]
	path = vim/vim.symlink/bundle/jistr-vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/vim.symlink/bundle/godlygeek-tabular"]
	path = vim/vim.symlink/bundle/godlygeek-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/vim.symlink/bundle/scrooloose-nerdcommenter"]
	path = vim/vim.symlink/bundle/scrooloose-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
