pi/mcp-oauth
pi/sessions
pi/npm
pi/mcp-cache.json
pi/pi-debug.log
pi/mcp.json
pi/auth.json

bin/private
nvim/.netrwhist
nvim/.swap
nvim/.bak
plugged
tmux/tmux.symlink/plugins
docker/docker.symlink/daemon.json
docker/docker.symlink/.buildNodeID
server.pem
zsh/plugins
